aiofiles
aiohttp
beautifulsoup4
fastapi
fuzzywuzzy
google-auth
google-genai
groq
gspread
hashids
langdetect
numpy
opencv-python-headless
Pillow
pycountry
pyotp
PySocks
pyTelegramBotAPI
python-Levenshtein
pytz
qrcode
requests
uvicorn[standard]
yt-dlp
