aiofiles
aiohttp
Flask
fuzzywuzzy
google-auth
google-genai
groq
gspread
langdetect
numpy
opencv-python-headless
Pillow
pycountry
pyotp
pyTelegramBotAPI
python-Levenshtein
pytz
qrcode
requests
hashids
yt-dlp
beautifulsoup4
PySocks
fastapi
uvicorn
